<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="sim" class="com.cranajit.Vodafone"/>
    <bean id="book" class="com.cranajit.MathBook"/>

    <bean id="student1" class="com.cranajit.Student">
        <property name="id" value="1"/>
        <property name="name" value="Ranajit"/>
        <property name="book" ref="book"/>
    </bean>

    <bean id="student2" class="com.cranajit.Student">
        <property name="id" value="2"/>
        <property name="name" value="Ron"/>
        <property name="book">
            <bean class="com.cranajit.ScienceBook"/>
        </property>
    </bean>
</beans>